<!-- <div class="card">
    <h5>Implicit Pagination</h5>
    <p-table [value]="transactions" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>Reference No.</th>
                <th>Customer Name</th>
                <th>Amount</th>
                <th>Currency</th>
                <th>Beneficiary Account No.</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction>
            <tr>
                <td>{{transaction.reference}}</td>
                <td>{{transaction.customerName}}</td>
                <td>{{transaction.amount}}</td>
                <td>{{transaction.currency}}</td>
                <td>{{transaction.beneficiaryBank}}</td>     
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div> -->
