<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav mr-auto" >
        <a class="nav-item nav-link" routerLink="/" outerLinkActive="active">NagaroBank</a>
       <!-- <a *ngIf="user.userType=='ROLE_ADMIN'" class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a> -->
        <a class="nav-item nav-link" routerLink="/customerForm" routerLinkActive="active" *ngIf="isLoggedIn">Transaction</a>
        <a class="nav-item nav-link" routerLink="/transactions" routerLinkActive="active" *ngIf="isLoggedIn">View Transactions</a>
        <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active" *ngIf="isLoggedIn">Profile</a>
    </div>
    <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" routerLink="/register" routerLinkActive="active" *ngIf="!isLoggedIn">SignUp</a>
            <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn">Login</a>
            <a class="nav-item nav-link" routerLink="/users/profile" routerLinkActive="active" *ngIf="isLoggedIn">{{user.username}}</a>
            <a class="nav-item nav-link" (click)="logout()" *ngIf="isLoggedIn">Logout</a>
    </div>
</nav>